[Desktop Entry]
Version=1.0
Type=Application

Name=caQtDM
Comment=caQtDM is a popular Epics framework for developing panels
Categories=Science;DataVisualization;

Icon=io.github.caqtdm.caqtdm
Exec=caQtDM
Terminal=false