<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>psi.ch.qwt</string>
		<string>org.qt-project.QtSvg</string>
		<string>org.qt-project.QtWidgets</string>
		<string>org.qt-project.QtSvg</string>
		<string>org.qt-project.QtNetwork</string>
		<string>org.qt-project.QtGui</string>
		<string>org.qt-project.QtDesigner</string>
		<string>org.qt-project.QtDBus</string>
		<string>org.qt-project.QtCore</string>
		<string>org.qt-project.QtConcurrent</string>
		<string>org.qt-project.QtPrintSupport</string>
	</array>
</dict>
</plist>
