caTable {
       background: cornsilk;
       alternate-background-color: wheat;
}

caLineEdit {
     border-radius: 1px;
     background: lightyellow;
     color: black;
 }
 
 caLabel {
     border-radius: 1px;
     background: lightyellow;
     color: black;
 }

caTextEntry {
    color: rgb(127, 0, 63);
    background-color: cornsilk;
    selection-color: #0a214c;
    selection-background-color: wheat;
    border: 1px groove black;
    border-radius: 1px;
    padding: 1px;
}

caTextEntry:focus {
    padding: 0px;
    border: 2px groove darkred;
    border-radius: 1px;
}

/* when font specified, no font sizing is done any more,  font: 10pt; is not bad */
QPushButton {
      border-color: #00b;
      border-radius: 2px;
      padding: 3px;
      border-width: 1px;

	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1,
						   stop:0   rgba(224, 239, 255, 255),
						   stop:0.5 rgba(199, 215, 230, 255),
						   stop:1   rgba(184, 214, 236, 255));
}
QPushButton:hover {
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1,
						stop:0   rgba(201, 226, 255, 255),
						stop:0.5 rgba(177, 204, 230, 255),
						stop:1   rgba(163, 205, 236, 255));
}
QPushButton:pressed {
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1,
						stop:0   rgba(174, 219, 255, 255),
						stop:0.5 rgba(165, 199, 230, 255),
						stop:1   rgba(134, 188, 236, 255));
}

QPushButton:disabled {
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1,
						stop:0   rgba(174, 219, 255, 255),
						stop:0.5 rgba(165, 199, 230, 255),
						stop:1   rgba(134, 188, 236, 255));
}


caChoice > QPushButton {
text-align: left;
background-color: lightgray;
border: 3px gray;
}

caChoice > QPushButton:pressed {
background-color: lightgray;
border: 3px gray;
}

caChoice > QPushButton:checked {
background-color: #EEEEEE;
border: 3px gray;
}

caChoice > QPushButton:default {
background-color: lightgray;
border: 3px gray;
}

caMenu{
    background: lightyellow;
}


