<?xml version="1.0" encoding="utf-8"?>
<?include caQtDM_Version.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="caQtDM" Language="1033" Version="$(var.CaQtDMVersion)" Manufacturer="Paul Scherrer Institut" UpgradeCode="$(var.CaQtDM_x86_ProductUpgradeCode)">
        <Package Description="caQTDM Windows Manager with Qt-Designer" Comments="Displaymanager for EPICS with Qt" InstallerVersion="405" Compressed="yes" Manufacturer="Paul Scherrer Institut Switzerland" Keywords="EPICS, Display, Network, Control" InstallScope="perMachine" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Upgrade Id="$(var.CaQtDM_x86_ProductUpgradeCode)">
            <UpgradeVersion OnlyDetect="yes" Minimum="$(var.CaQtDMVersion)" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
            <UpgradeVersion OnlyDetect="no" Maximum="$(var.CaQtDMVersion)" Property="OLDERVERSIONBEINGUPGRADED" IncludeMaximum="no" />
        </Upgrade>
        <UIRef Id="WixUI_InstallDir" />
        <Property Id="INSTALLDIR" Secure="yes" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Property Id="CAQTDM_VERSION" Value="$(var.CaQtDMVersion)" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="NO EPICS and Firewall parameter set or changed!" />
        <!-- UIRef Id="WixUI_Minimal" /-->
        <Icon Id="caQtDM.ico" SourceFile="..\..\..\src\caQtDM.ico" />
        <Property Id="ARPPRODUCTICON" Value="caQtDM.ico" />
        <Binary Id="caQtDM.exe" SourceFile="$(env.CAQTDM_COLLECT)\caQtDM.exe" />
        <InstallExecuteSequence>
            <CreateFolders />
            <FileCost />
            <RemoveExistingProducts Before="InstallInitialize" />
            <Custom Action="caRepeaterKill" Before="InstallValidate">REMOVE="ALL"</Custom>
        </InstallExecuteSequence>
        <CustomAction Id="caRepeaterKill" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="immediate" Return="ignore" />
        <SetProperty Id="INSTALLDIR_BIN" After="InstallInitialize" Value="[INSTALLDIR]bin\win32-x86\" Sequence="execute" />
        <Property Id="QtExecCmdLine" Value="&quot;taskkill.exe&quot; /f /im caRepeater.exe" />
        <Property Id="INSTALLDIR_BIN" Value="C:\" />
        <WixVariable Id="WixUILicenseRtf" Value="..\gplv3.rtf" />
        <WixVariable Id="WixUIDialogBmp" Value="..\PSI_Background.bmp" />
        <UI />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="caQTDM">
                    <Directory Name="bin" Id="BIN">
                        <Directory Name="win32-x86" Id="WINDOWS_X32">
                            <Component Id="Qt_5.15.0" Guid="AB6F6013-EF64-4FAB-8F10-BE78192BE413">
                                <File Id="DESIGNER.EXE" Name="designer.exe" Source="$(env.QTHOME)\bin\designer.exe" />
                                <File Id="ASSISTANT.EXE" Name="assistant.exe" Source="$(env.QTHOME)\bin\assistant.exe" />
                                <File Id="QT5QUICKPARTICLES.DLL" Name="Qt5QuickParticles.dll" Source="$(env.QTHOME)\bin\Qt5QuickParticles.dll" />
                                <File Id="QT5QUICKTEST.DLL" Name="Qt5QuickTest.dll" Source="$(env.QTHOME)\bin\Qt5QuickTest.dll" />
                                <File Id="QT5QUICKWIDGETS.DLL" Name="Qt5QuickWidgets.dll" Source="$(env.QTHOME)\bin\Qt5QuickWidgets.dll" />
                                <File Id="QT5SCRIPT.DLL" Name="Qt5Script.dll" Source="$(env.QTHOME)\bin\Qt5Script.dll" />
                                <File Id="QT5SCRIPTTOOLS.DLL" Name="Qt5ScriptTools.dll" Source="$(env.QTHOME)\bin\Qt5ScriptTools.dll" />
                                <File Id="QT5SENSORS.DLL" Name="Qt5Sensors.dll" Source="$(env.QTHOME)\bin\Qt5Sensors.dll" />
                                <File Id="QT5SERIALPORT.DLL" Name="Qt5SerialPort.dll" Source="$(env.QTHOME)\bin\Qt5SerialPort.dll" />
                                <File Id="QT5SERIALBUS.DLL" Name="Qt5SerialBus.dll" Source="$(env.QTHOME)\bin\Qt5SerialBus.dll" />
                                <File Id="QT5SQL.DLL" Name="Qt5Sql.dll" Source="$(env.QTHOME)\bin\Qt5Sql.dll" />
                                <File Id="QT5SVG.DLL" Name="Qt5Svg.dll" Source="$(env.QTHOME)\bin\Qt5Svg.dll" />
                                <File Id="QT5TEST.DLL" Name="Qt5Test.dll" Source="$(env.QTHOME)\bin\Qt5Test.dll" />
                                <File Id="QT5WEBSOCKETS.DLL" Name="Qt5WebSockets.dll" Source="$(env.QTHOME)\bin\Qt5WebSockets.dll" />
                                <File Id="QT5WIDGETS.DLL" Name="Qt5Widgets.dll" Source="$(env.QTHOME)\bin\Qt5Widgets.dll" />
                                <File Id="QT5WINEXTRAS.DLL" Name="Qt5WinExtras.dll" Source="$(env.QTHOME)\bin\Qt5WinExtras.dll" />
                                <File Id="QT5XML.DLL" Name="Qt5Xml.dll" Source="$(env.QTHOME)\bin\Qt5Xml.dll" />
                                <File Id="QT5XMLPATTERNS.DLL" Name="Qt5XmlPatterns.dll" Source="$(env.QTHOME)\bin\Qt5XmlPatterns.dll" />
                                <File Id="LIBEGL.DLL" Name="libEGL.dll" Source="$(env.QTHOME)\bin\libEGL.dll" />
                                <File Id="LIBGLESV2.DLL" Name="libGLESv2.dll" Source="$(env.QTHOME)\bin\libGLESv2.dll" />
                                <File Id="QT5BLUETOOTH.DLL" Name="Qt5Bluetooth.dll" Source="$(env.QTHOME)\bin\Qt5Bluetooth.dll" />
                                <File Id="QT5CONCURRENT.DLL" Name="Qt5Concurrent.dll" Source="$(env.QTHOME)\bin\Qt5Concurrent.dll" />
                                <File Id="QT5CORE.DLL" Name="Qt5Core.dll" Source="$(env.QTHOME)\bin\Qt5Core.dll" />
                                <File Id="QT5DESIGNER.DLL" Name="Qt5Designer.dll" Source="$(env.QTHOME)\bin\Qt5Designer.dll" />
                                <File Id="QT5DESIGNERCOMPONENTS.DLL" Name="Qt5DesignerComponents.dll" Source="$(env.QTHOME)\bin\Qt5DesignerComponents.dll" />
                                <File Id="QT5GUI.DLL" Name="Qt5Gui.dll" Source="$(env.QTHOME)\bin\Qt5Gui.dll" />
                                <File Id="QT5HELP.DLL" Name="Qt5Help.dll" Source="$(env.QTHOME)\bin\Qt5Help.dll" />
                                <File Id="QT5MULTIMEDIA.DLL" Name="Qt5Multimedia.dll" Source="$(env.QTHOME)\bin\Qt5Multimedia.dll" />
                                <File Id="QT5MULTIMEDIAWIDGETS.DLL" Name="Qt5MultimediaWidgets.dll" Source="$(env.QTHOME)\bin\Qt5MultimediaWidgets.dll" />
                                <File Id="QT5NETWORK.DLL" Name="Qt5Network.dll" Source="$(env.QTHOME)\bin\Qt5Network.dll" />
                                <File Id="QT5NFC.DLL" Name="Qt5Nfc.dll" Source="$(env.QTHOME)\bin\Qt5Nfc.dll" />
                                <File Id="QT5OPENGL.DLL" Name="Qt5OpenGL.dll" Source="$(env.QTHOME)\bin\Qt5OpenGL.dll" />
                                <File Id="QT5POSITIONING.DLL" Name="Qt5Positioning.dll" Source="$(env.QTHOME)\bin\Qt5Positioning.dll" />
                                <File Id="QT5PRINTSUPPORT.DLL" Name="Qt5PrintSupport.dll" Source="$(env.QTHOME)\bin\Qt5PrintSupport.dll" />
                                <File Id="QT5QML.DLL" Name="Qt5Qml.dll" Source="$(env.QTHOME)\bin\Qt5Qml.dll" />
                                <File Id="QT5QUICK.DLL" Name="Qt5Quick.dll" Source="$(env.QTHOME)\bin\Qt5Quick.dll" />
                            </Component>
                            <Component Id="Epics_7.0.4.1" Guid="153692ED-7DF5-41DD-B9EA-1180C4B8D89A">
                                <File Id="CAREPEATER.EXE" Name="caRepeater.exe" Source="$(env.EPICS_BASE)\bin\$(env.EPICS_HOST_ARCH)\caRepeater.exe" />
                                <File Id="CA.DLL" Name="ca.dll" Source="$(env.EPICS_BASE)\bin\$(env.EPICS_HOST_ARCH)\ca.dll" />
                                <File Id="COM.DLL" Name="Com.dll" Source="$(env.EPICS_BASE)\bin\$(env.EPICS_HOST_ARCH)\Com.dll" />
                            </Component>
                            <Component Id="ZMQ" Guid="DE3ABF16-AE16-461F-B0C2-8264F1E40CF8">
                                <File Id="LIBZMQ.DLL" Name="libzmq.dll" Source="$(env.ZMQ)\bin\$(env.EPICS_HOST_ARCH)\libzmq.dll" />
                            </Component>
                            <Component Id="qwt_6.1.5" Guid="BE452C38-1E9E-4678-90BC-D03E1F347987">
                                <File Id="QWT.DLL" Name="qwt.dll" Source="$(env.QWTHOME)\lib\qwt.dll" />
                            </Component>
                            <Component Id="CaQtDM" Guid="BF8DC119-A14E-401D-B136-B486FEF41683">
                                <File Id="CAQTDM.EXE" Name="caQtDM.exe" Source="$(env.CAQTDM_COLLECT)\caQtDM.exe" />
                                <File Id="QTCONTROLS.DLL" Name="qtcontrols.dll" Source="$(env.CAQTDM_COLLECT)\qtcontrols.dll" />
                                <File Id="CAQTDM_LIB.DLL" Name="caQtDM_Lib.dll" Source="$(env.CAQTDM_COLLECT)\caQtDM_Lib.dll" />
                                <File Id="ADL2UI.EXE" Name="adl2ui.exe" Source="$(env.CAQTDM_COLLECT)\adl2ui.exe" />
                                <File Id="ADLPARSER.DLL" Name="adlParser.dll" Source="$(env.CAQTDM_COLLECT)\adlParser.dll" />
                            </Component>
			    <Component Id="openssl" Guid="D1EEC8C0-7B65-4ECA-B6AF-DC6389C2E365">
			        <File Id="LIBEAY32.DLL" Name="libeay32.dll" Source="$(env.SSLLIB)\libeay32.dll" />
			        <File Id="SSLEAY32.DLL" Name="ssleay32.dll" Source="$(env.SSLLIB)\ssleay32.dll" />
			    </Component>
                            <Component Guid="20B55404-03CD-429F-84FF-AA020B794FB6" Id="qt_conf">
                                <IniFile Id="qt_conf_file1" Action="createLine" Key="Prefix" Name="qt.conf" Section="Paths" Value="../.." Directory="INSTALLDIR_BIN" />
                                <IniFile Id="qt_conf_file2" Action="createLine" Key="Plugins" Name="qt.conf" Section="Paths" Value="plugins" Directory="INSTALLDIR_BIN" />
                                <IniFile Id="qt_conf_file3" Action="createLine" Key="Binaries" Name="qt.conf" Section="Paths" Value="bin/win32-x86/" Directory="INSTALLDIR_BIN" />
                                <CreateFolder />
                            </Component>
                        </Directory>
                    </Directory>
                    <Directory Id="PLUGINS" Name="plugins">
                        <Directory Id="CONTROLSYSTEMS" Name="controlsystems">
                            <Component Id="controlsystems" Guid="58EF7BB9-6938-481B-9EBD-2A11A770C479">
                                <File Id="DEMO_PLUGIN.DLL" Name="demo_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\demo_plugin.dll" />
                                <File Id="EPICS3_PLUGIN.DLL" Name="epics3_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\epics3_plugin.dll" />
                                <File Id="BSREAD_PLUGIN.DLL" Name="bsread_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\bsread_plugin.dll" />
                                <File Id="ARCHIVESF_PLUGIN.DLL" Name="archiveSF_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\archiveSF_plugin.dll" />
                                <File Id="ARCHIVEHTTP_PLUGIN.DLL" Name="archiveHTTP_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\archiveHTTP_plugin.dll" />
				<File Id="MODBUS_PLUGIN.DLL" Name="modbus_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\modbus_plugin.dll" />
				<File Id="ENVIRONMENT_PLUGIN.DLL" Name="environment_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\environment_plugin.dll" />
				<!---File Id="GPS_PLUGIN.DLL" Name="gps_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\gps_plugin.dll" -->
                            </Component>
                        </Directory>
                        <Directory Id="DESIGNER" Name="designer">
                            <Component Id="designer" Guid="1937926C-E3AE-4B13-831E-874B1A26AE76">
                                <File Id="QTCONTROLS_CONTROLLERS_PLUGIN.DLL" Name="qtcontrols_controllers_plugin.dll" Source="$(env.CAQTDM_COLLECT)\designer\qtcontrols_controllers_plugin.dll" />
                                <File Id="QTCONTROLS_MONITORS_PLUGIN.DLL" Name="qtcontrols_monitors_plugin.dll" Source="$(env.CAQTDM_COLLECT)\designer\qtcontrols_monitors_plugin.dll" />
                                <File Id="QTCONTROLS_GRAPHICS_PLUGIN.DLL" Name="qtcontrols_graphics_plugin.dll" Source="$(env.CAQTDM_COLLECT)\designer\qtcontrols_graphics_plugin.dll" />
                                <File Id="QTCONTROLS_UTILITIES_PLUGIN.DLL" Name="qtcontrols_utilities_plugin.dll" Source="$(env.CAQTDM_COLLECT)\designer\qtcontrols_utilities_plugin.dll" />                               
                            </Component>
                        </Directory>
                        <Directory Id="PLATFORMS" Name="platforms">
                            <Component Id="platforms" Guid="4169E759-B2B7-4540-BFA7-F1B398D46F3A">
                                <File Id="QMINIMAL.DLL" Name="qminimal.dll" Source="$(env.QTHOME)\plugins\platforms\qminimal.dll" />
                                <File Id="QOFFSCREEN.DLL" Name="qoffscreen.dll" Source="$(env.QTHOME)\plugins\platforms\qoffscreen.dll" />
                                <File Id="QWINDOWS.DLL" Name="qwindows.dll" Source="$(env.QTHOME)\plugins\platforms\qwindows.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="IMAGEFORMATS" Name="imageformats">
                            <Component Id="imageformats" Guid="0A3CA574-DBF6-4EA9-9F30-FAC83DBD725D">
                                <File Id="QJPEG.DLL" Name="qjpeg.dll" Source="$(env.QTHOME)\plugins\imageformats\qjpeg.dll" />
                                <File Id="QSVG.DLL" Name="qsvg.dll" Source="$(env.QTHOME)\plugins\imageformats\qsvg.dll" />
                                <File Id="QTGA.DLL" Name="qtga.dll" Source="$(env.QTHOME)\plugins\imageformats\qtga.dll" />
                                <File Id="QTIFF.DLL" Name="qtiff.dll" Source="$(env.QTHOME)\plugins\imageformats\qtiff.dll" />
                                <File Id="QWBMP.DLL" Name="qwbmp.dll" Source="$(env.QTHOME)\plugins\imageformats\qwbmp.dll" />
                                <File Id="QWEBP.DLL" Name="qwebp.dll" Source="$(env.QTHOME)\plugins\imageformats\qwebp.dll" />
                                <File Id="QGIF.DLL" Name="qgif.dll" Source="$(env.QTHOME)\plugins\imageformats\qgif.dll" />
                                <File Id="QICNS.DLL" Name="qicns.dll" Source="$(env.QTHOME)\plugins\imageformats\qicns.dll" />
                                <File Id="QICO.DLL" Name="qico.dll" Source="$(env.QTHOME)\plugins\imageformats\qico.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="SQLDRIVERS" Name="sqldrivers">
                            <Component Id="sqldrivers_c" Guid="19B2BB0B-CABC-48E4-A67F-C664E572F398">
                                <File Id="QSQLITE.DLL" Name="qsqlite.dll" Source="$(env.QTHOME)\plugins\sqldrivers\qsqlite.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                    <Directory Id="StyleSheet" Name="StyleSheet">
                        <Component Id="Stylesheet" Guid="A47469F9-7320-4F9A-B513-680A0F66305D">
                            <File Id="STYLESHEET.QSS" Name="stylesheet.qss" Source="..\..\..\parser\stylesheet.qss" />
                        </Component>
                    </Directory>
                    <Directory Id="Help" Name="Help">
                        <Component Guid="D45902EC-9BC3-4E2A-96A1-BFDA64EA6535" Id="caQtDMHelp">
                            <File Id="CAQTDM.HTML" Name="caQtDM.html" Source="$(env.CAQTDM_COLLECT)\..\caQtDM_QtControls\doc\caQtDM.html" />
                            <File Id="CAQTDM.QCH" Name="caQtDM.qch" Source="$(env.CAQTDM_COLLECT)\..\caQtDM_QtControls\doc\caQtDM.qch" />
                            <File Id="CAQTDM.QHC" Name="caQtDM.qhc" Source="$(env.CAQTDM_COLLECT)\..\caQtDM_QtControls\doc\caQtDM.qhc" />
                            <File Id="CLASSIC.CSS" Name="classic.css" Source="$(env.CAQTDM_COLLECT)\..\caQtDM_QtControls\doc\classic.css" />
                        </Component>
                    </Directory>
                </Directory>
                <Merge Id="VCRedist" Language="0" SourceFile="C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Redist\MSVC\14.29.30133\MergeModules\Microsoft_VC142_CRT_x86.msm" DiskId="1" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="caQtDM">
                    <Component Id="StartMenuShortcuts" Guid="7D061F80-294A-4486-90EB-7B2B3E499F21">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <Shortcut Id="UninstallProduct" Name="Uninstall" Description="Uninstalls the application" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" />
                        <Shortcut Id="CaQtDM_ShortCut" Name="CaQtDM" Target="[INSTALLDIR]bin\win32-x86\caQtDM.exe" Arguments=" -style plastique">
                        </Shortcut>
                        <Shortcut Id="Designer_Shortcut" Name="Designer" Target="[INSTALLDIR]bin\win32-x86\designer.exe" />
                    </Component>
                </Directory>
            </Directory>
            <Component Id="Environment" Guid="E9C2F909-D19D-4B34-AA2A-3C85D0838EBD">
                <Environment Id="QT_PLUGIN_PATH" Action="set" Name="QT_PLUGIN_PATH" Part="last" Permanent="no" Value="[INSTALLDIR]plugins" System="yes" />
                <Environment Id="PATH" Name="PATH" Part="last" Permanent="no" Action="set" Value="[INSTALLDIR]bin\win32-x86\" System="yes" Separator=";" />
                <Environment Id="CAQTDM_DISPLAY_PATH" Name="CAQTDM_DISPLAY_PATH" Action="set" Permanent="no" System="yes" Value="[INSTALLDIR]StyleSheet" />
                <Environment Id="QT_QPA_PLATFORM_PLUGIN_PATH" Name="QT_QPA_PLATFORM_PLUGIN_PATH" Action="set" Permanent="no" System="yes" Value="[INSTALLDIR]plugins\platforms" />
            </Component>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1" ConfigurableDirectory="INSTALLDIR">
            <ComponentRef Id="Qt_5.15.0" />
            <ComponentRef Id="Epics_7.0.4.1" />
            <ComponentRef Id="qwt_6.1.5" />
            <ComponentRef Id="CaQtDM" />
            <ComponentRef Id="designer" />
            <ComponentRef Id="Stylesheet" />
            <ComponentRef Id="StartMenuShortcuts" />
            <ComponentRef Id="Environment" />
            <ComponentRef Id="platforms" />
            <ComponentRef Id="imageformats" />
            <ComponentRef Id="caQtDMHelp" />
            <ComponentRef Id="sqldrivers_c" />
            <ComponentRef Id="qt_conf" />
            <ComponentRef Id="openssl" />
            <ComponentRef Id="controlsystems" />
            <ComponentRef Id="ZMQ" />
        </Feature>
        <Feature Id="VCRedist" Level="1" Title="Visual C++ 12.0 Runtime" AllowAdvertise="no" Display="hidden">
            <MergeRef Id="VCRedist" />
        </Feature>
    </Product>
</Wix>