<?xml version="1.0" encoding="utf-8"?>
<?include caQtDM_Version.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="caQtDM" Language="1033" Version="$(var.CaQtDMVersion)" Manufacturer="Paul Scherrer Institut" UpgradeCode="$(var.CaQtDM_x64_ProductUpgradeCode)">
        <Package Description="caQTDM Windows Manager with Qt-Designer" Comments="Displaymanager for EPICS with Qt" InstallerVersion="405" Compressed="yes" Manufacturer="Paul Scherrer Institut Switzerland" Keywords="EPICS, Display, Network, Control" Platform="x64" InstallScope="perMachine" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Upgrade Id="$(var.CaQtDM_x64_ProductUpgradeCode)">
            <UpgradeVersion OnlyDetect="yes" Minimum="$(var.CaQtDMVersion)" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
            <UpgradeVersion OnlyDetect="no" Maximum="$(var.CaQtDMVersion)" Property="OLDERVERSIONBEINGUPGRADED" IncludeMaximum="no" />
        </Upgrade>
        <UIRef Id="WixUI_InstallDir" />
        <Property Id="INSTALLDIR" Secure="yes" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Property Id="CAQTDM_VERSION" Value="$(var.CaQtDMVersion)" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="NO EPICS and Firewall parameter set or changed!" />
        <!-- UIRef Id="WixUI_Minimal" /-->
        <Icon Id="caQtDM.ico" SourceFile="..\..\..\src\caQtDM.ico" />
        <Property Id="ARPPRODUCTICON" Value="caQtDM.ico" />
        <Binary Id="caQtDM.exe" SourceFile="$(env.CAQTDM_COLLECT)\caQtDM.exe" />
        <InstallExecuteSequence>
            <CreateFolders />
            <FileCost />
            <RemoveExistingProducts Before="InstallInitialize" />
            <Custom Action="caRepeaterKill" Before="InstallValidate">REMOVE="ALL"</Custom>
        </InstallExecuteSequence>
        <CustomAction Id="caRepeaterKill" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="immediate" Return="ignore" />
        <SetProperty Id="INSTALLDIR_BIN" After="InstallInitialize" Value="[INSTALLDIR]bin\windows-x64\" Sequence="execute" />
        <Property Id="QtExecCmdLine" Value="&quot;taskkill.exe&quot; /f /im caRepeater.exe" />
        <Property Id="INSTALLDIR_BIN" Value="C:\" />
        <WixVariable Id="WixUILicenseRtf" Value="..\gplv3.rtf" />
        <WixVariable Id="WixUIDialogBmp" Value="..\PSI_Background.bmp" />
        <UI />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="caQTDM">
                    <Directory Name="bin" Id="BIN">
                        <Directory Name="windows-x64" Id="WINDOWS_X64">
                            <?if $(env.CAQTDMQTVER) = QT6 ?>
                            <?include $(sys.SOURCEFILEPATH)\..\caQtDM_Qt6_x64.wxi ?>
                            <?else?>
                            <?include $(sys.SOURCEFILEPATH)\..\caQtDM_Qt5_x64.wxi ?>
                            <?endif?>
                            <Component Id="Epics_7.0.7.1" Guid="B7D7E8AE-F448-43F8-A68A-A35895605B8C" Win64="yes">
                                <File Id="CAREPEATER.EXE" Name="caRepeater.exe" Source="$(env.EPICS_BASE)\bin\$(env.EPICS_HOST_ARCH)\caRepeater.exe" />
                                <File Id="CA.DLL" Name="ca.dll" Source="$(env.EPICS_BASE)\bin\$(env.EPICS_HOST_ARCH)\ca.dll" />
                                <File Id="COM.DLL" Name="Com.dll" Source="$(env.EPICS_BASE)\bin\$(env.EPICS_HOST_ARCH)\Com.dll" />
                                <File Id="PVACCESS.DLL" Name="pvAccess.dll" Source="$(env.EPICS_BASE)\bin\$(env.EPICS_HOST_ARCH)\pvAccess.dll" />
                                <File Id="PVACCESSCA.DLL" Name="pvAccessCA.dll" Source="$(env.EPICS_BASE)\bin\$(env.EPICS_HOST_ARCH)\pvAccessCA.dll" />
                                <File Id="PVACLIENT.DLL" Name="pvaClient.dll" Source="$(env.EPICS_BASE)\bin\$(env.EPICS_HOST_ARCH)\pvaClient.dll" />
                                <File Id="PVDATA.DLL" Name="pvData.dll" Source="$(env.EPICS_BASE)\bin\$(env.EPICS_HOST_ARCH)\pvData.dll" />
                                <File Id="NT.DLL" Name="nt.dll" Source="$(env.EPICS_BASE)\bin\$(env.EPICS_HOST_ARCH)\nt.dll" />
                            </Component>
                            <Component Id="ZMQ" Guid="6F1967A1-84CA-4BE4-85DC-8D1B75338BB7" Win64="yes">
                                <File Id="LIBZMQ.DLL" Name="libzmq.dll" Source="$(env.ZMQLIB)\libzmq.dll" />
                            </Component>
                            <Component Id="qwt_6.2.0" Guid="80321EF0-DC70-4D0A-8E0C-269502A0EACB" Win64="yes">
                                <File Id="QWT.DLL" Name="qwt.dll" Source="$(env.QWTHOME)\lib\qwt.dll" />
                            </Component>
                            <Component Id="CaQtDM" Guid="ECDE0227-4100-43B8-B817-88D6BCD7FF49" Win64="yes">
                                <File Id="CAQTDM.EXE" Name="caQtDM.exe" Source="$(env.CAQTDM_COLLECT)\caQtDM.exe" />
                                <File Id="QTCONTROLS.DLL" Name="qtcontrols.dll" Source="$(env.CAQTDM_COLLECT)\qtcontrols.dll" />
                                <File Id="CAQTDM_LIB.DLL" Name="caQtDM_Lib.dll" Source="$(env.CAQTDM_COLLECT)\caQtDM_Lib.dll" />
                                <File Id="ADL2UI.EXE" Name="adl2ui.exe" Source="$(env.CAQTDM_COLLECT)\adl2ui.exe" />
                                <File Id="ADLPARSER.DLL" Name="adlParser.dll" Source="$(env.CAQTDM_COLLECT)\adlParser.dll" />
                            </Component>
                            <Component Guid="37AC3E87-ABC3-4543-8489-3FBD6F3DDC41" Id="qt_conf" Win64="yes">
                                <IniFile Id="qt_conf_file1" Action="createLine" Key="Prefix" Name="qt.conf" Section="Paths" Value="../.." Directory="INSTALLDIR_BIN" />
                                <IniFile Id="qt_conf_file2" Action="createLine" Key="Plugins" Name="qt.conf" Section="Paths" Value="plugins" Directory="INSTALLDIR_BIN" />
                                <IniFile Id="qt_conf_file3" Action="createLine" Key="Binaries" Name="qt.conf" Section="Paths" Value="bin/windows-x64/" Directory="INSTALLDIR_BIN" />
                                <CreateFolder />
                            </Component>
                            <Component Id="openssl" Guid="5BA25D42-D318-4410-84EE-153C9EEE1F66" Win64="yes">
                                <File Id="LIBEAY32.DLL" Name="libeay32.dll" Source="$(env.SSLLIB)\libeay32.dll" />
                                <File Id="SSLEAY32.DLL" Name="ssleay32.dll" Source="$(env.SSLLIB)\ssleay32.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                    <Directory Id="PLUGINS" Name="plugins">
                        <Directory Id="CONTROLSYSTEMS" Name="controlsystems">
                            <Component Id="controlsystems" Guid="02E16D39-2C06-43FB-9DBF-22DA6A416313" Win64="yes">
                                <File Id="DEMO_PLUGIN.DLL" Name="demo_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\demo_plugin.dll" />
                                <File Id="EPICS3_PLUGIN.DLL" Name="epics3_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\epics3_plugin.dll" />
                                <File Id="EPICS4_PLUGIN.DLL" Name="epics4_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\epics4_plugin.dll" />
                                <File Id="BSREAD_PLUGIN.DLL" Name="bsread_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\bsread_plugin.dll" />
                                <File Id="MODBUS_PLUGIN.DLL" Name="modbus_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\modbus_plugin.dll" />
                                <File Id="ARCHIVESF_PLUGIN.DLL" Name="archiveSF_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\archiveSF_plugin.dll" ShortName="aSF.dll"/>
                                <File Id="ARCHIVEHTTP_PLUGIN.DLL" Name="archiveHTTP_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\archiveHTTP_plugin.dll" ShortName="aHTTP.dll"/>
                                <File Id="ENVIRONMENT_PLUGIN.DLL" Name="environment_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\environment_plugin.dll" />
                                <!---File Id="GPS_PLUGIN.DLL" Name="gps_plugin.dll" Source="$(env.CAQTDM_COLLECT)\controlsystems\gps_plugin.dll" -->
                            </Component>
                        </Directory>
                        <Directory Id="DESIGNER" Name="designer">
                            <Component Id="designer" Guid="C07C30FC-D521-421A-8254-771A42222C4A" Win64="yes">
                                <File Id="QTCONTROLS_CONTROLLERS_PLUGIN.DLL" Name="qtcontrols_controllers_plugin.dll" Source="$(env.CAQTDM_COLLECT)\designer\qtcontrols_controllers_plugin.dll" />
                                <File Id="QTCONTROLS_MONITORS_PLUGIN.DLL" Name="qtcontrols_monitors_plugin.dll" Source="$(env.CAQTDM_COLLECT)\designer\qtcontrols_monitors_plugin.dll" />
                                <File Id="QTCONTROLS_GRAPHICS_PLUGIN.DLL" Name="qtcontrols_graphics_plugin.dll" Source="$(env.CAQTDM_COLLECT)\designer\qtcontrols_graphics_plugin.dll" />
                                <File Id="QTCONTROLS_UTILITIES_PLUGIN.DLL" Name="qtcontrols_utilities_plugin.dll" Source="$(env.CAQTDM_COLLECT)\designer\qtcontrols_utilities_plugin.dll" />
                            </Component>
                        </Directory>
                        <?if $(env.CAQTDMQTVER) = QT6 ?>
                        <Directory Id="TLS" Name="tls">
                            <Component Id="tls" Guid="3A184FF7-4600-4A6A-9464-485E8C837D8B" Win64="yes">
                                <File Id="QOPENSSLBACKEND.DLL" Name="qopensslbackend.dll" Source="$(env.QTHOME)\plugins\tls\qopensslbackend.dll" />
                                <File Id="QSCHANNELBACKEND.DLL" Name="qschannelbackend.dll" Source="$(env.QTHOME)\plugins\tls\qschannelbackend.dll" />
				<File Id="QCERTONLYBACKEND.DLL" Name="qcertonlybackend.dll" Source="$(env.QTHOME)\plugins\tls\qcertonlybackend.dll" />
                            </Component>
                        </Directory>
                        <?endif?>
                        <Directory Id="PLATFORMS" Name="platforms">
                            <Component Id="platforms" Guid="E774C793-5FDB-4609-A9F4-98B7796F04B1" Win64="yes">
                                <File Id="QMINIMAL.DLL" Name="qminimal.dll" Source="$(env.QTHOME)\plugins\platforms\qminimal.dll" />
                                <File Id="QOFFSCREEN.DLL" Name="qoffscreen.dll" Source="$(env.QTHOME)\plugins\platforms\qoffscreen.dll" />
                                <File Id="QWINDOWS.DLL" Name="qwindows.dll" Source="$(env.QTHOME)\plugins\platforms\qwindows.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="IMAGEFORMATS" Name="imageformats">
                            <Component Id="imageformats" Win64="yes" Guid="3FB66204-032F-4F63-9AD0-7DC531F8769D">
                                <File Id="QJPEG.DLL" Name="qjpeg.dll" Source="$(env.QTHOME)\plugins\imageformats\qjpeg.dll" />
                                <File Id="QSVG.DLL" Name="qsvg.dll" Source="$(env.QTHOME)\plugins\imageformats\qsvg.dll" />
                                <File Id="QTGA.DLL" Name="qtga.dll" Source="$(env.QTHOME)\plugins\imageformats\qtga.dll" />
                                <File Id="QTIFF.DLL" Name="qtiff.dll" Source="$(env.QTHOME)\plugins\imageformats\qtiff.dll" />
                                <File Id="QWBMP.DLL" Name="qwbmp.dll" Source="$(env.QTHOME)\plugins\imageformats\qwbmp.dll" />
                                <File Id="QWEBP.DLL" Name="qwebp.dll" Source="$(env.QTHOME)\plugins\imageformats\qwebp.dll" />
                                <File Id="QGIF.DLL" Name="qgif.dll" Source="$(env.QTHOME)\plugins\imageformats\qgif.dll" />
                                <File Id="QICNS.DLL" Name="qicns.dll" Source="$(env.QTHOME)\plugins\imageformats\qicns.dll" />
                                <File Id="QICO.DLL" Name="qico.dll" Source="$(env.QTHOME)\plugins\imageformats\qico.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="SQLDRIVERS" Name="sqldrivers">
                            <Component Id="sqldrivers_c" Win64="yes" Guid="E0DEA650-A9CF-4B93-A537-D6C67D31609E">
                                <File Id="QSQLITE.DLL" Name="qsqlite.dll" Source="$(env.QTHOME)\plugins\sqldrivers\qsqlite.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                    <Directory Id="StyleSheet" Name="StyleSheet">
                        <Component Id="Stylesheet" Guid="6D848A8A-210B-4246-B86E-819E0C51AEFE" Win64="yes">
                            <File Id="STYLESHEET.QSS" Name="stylesheet.qss" Source="..\..\..\parser\stylesheet.qss" />
                        </Component>
                    </Directory>
                    <Directory Id="Help" Name="Help">
                        <Component Guid="F3D38AA4-4A92-45D9-843E-DA0D260B40F5" Id="caQtDMHelp" Win64="yes">
                            <File Id="CAQTDM.HTML" Name="caQtDM.html" Source="$(env.CAQTDM_COLLECT)\..\caQtDM_QtControls\doc\caQtDM.html" />
                            <File Id="CAQTDM.QCH" Name="caQtDM.qch" Source="$(env.CAQTDM_COLLECT)\..\caQtDM_QtControls\doc\caQtDM.qch" />
                            <File Id="CAQTDM.QHC" Name="caQtDM.qhc" Source="$(env.CAQTDM_COLLECT)\..\caQtDM_QtControls\doc\caQtDM.qhc" />
                            <File Id="CLASSIC.CSS" Name="classic.css" Source="$(env.CAQTDM_COLLECT)\..\caQtDM_QtControls\doc\classic.css" />
                        </Component>
                    </Directory>
                </Directory>
                <Merge Id="VCRedist" Language="0" SourceFile="C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Redist\MSVC\14.29.30133\MergeModules\Microsoft_VC142_CRT_x64.msm" DiskId="1" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="caQtDM">
                    <Component Id="StartMenuShortcuts" Guid="3DB7C20F-EA04-40D1-BF31-3ADDB310127F">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <Shortcut Id="UninstallProduct" Name="Uninstall" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                        <Shortcut Id="CaQtDM_ShortCut" Name="CaQtDM" Target="[INSTALLDIR]bin\windows-x64\caQtDM.exe" Arguments=" -style plastique"></Shortcut>
                        <Shortcut Id="Designer_Shortcut" Name="Designer" Target="[INSTALLDIR]bin\windows-x64\designer.exe" />
                    </Component>
                </Directory>
            </Directory>
            <Component Id="Environment" Guid="C071FF0B-D353-4DA0-9C0F-D07FC5FF2CFE">
                <Environment Id="PATH" Name="PATH" Part="last" Permanent="no" Action="set" Value="[INSTALLDIR]bin\windows-x64\" System="yes" Separator=";" />
                <Environment Id="CAQTDM_DISPLAY_PATH" Name="CAQTDM_DISPLAY_PATH" Action="set" Permanent="no" System="yes" Value="[INSTALLDIR]StyleSheet" />
            </Component>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1" ConfigurableDirectory="INSTALLDIR">
            <?if $(env.CAQTDMQTVER) = QT4 ?>
            <?include .\caQtDM_Qt4_x64.wxi ?>
            <?elseif $(env.CAQTDMQTVER) = QT6 ?>
            <ComponentRef Id="Qt_6.5.1" />
            <ComponentRef Id="tls" />
            <?else?>
            <ComponentRef Id="Qt_5.15.0" />
            <?endif?>
            <ComponentRef Id="Epics_7.0.7.1" />
            <ComponentRef Id="qwt_6.2.0" />
            <ComponentRef Id="CaQtDM" />
            <ComponentRef Id="designer" />
            <ComponentRef Id="Stylesheet" />
            <ComponentRef Id="StartMenuShortcuts" />
            <ComponentRef Id="Environment" />
            <ComponentRef Id="platforms" />
            <ComponentRef Id="imageformats" />
            <ComponentRef Id="caQtDMHelp" />
            <ComponentRef Id="sqldrivers_c" />
            <ComponentRef Id="qt_conf" />
            <ComponentRef Id="openssl" />
            <ComponentRef Id="controlsystems" />
            <ComponentRef Id="ZMQ" />
        </Feature>
        <Feature Id="VCRedist" Level="1" Title="Visual C++ 12.0 Runtime" AllowAdvertise="no" Display="hidden">
            <MergeRef Id="VCRedist" />
        </Feature>
    </Product>
</Wix>